<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Configuration reader -->
    <type name="Payments\BankTransfer\Model\Config">
        <arguments>
            <argument name="pathPattern" xsi:type="const">Magento\Payment\Gateway\Config\Config::DEFAULT_PATH_PATTERN</argument>
            <argument name="methodCode" xsi:type="const">Payments\BankTransfer\Model\Ui\ConfigProvider::BANK_TRANSFER_CODE</argument>
        </arguments>
    </type>

    <type name="Payments\BankTransfer\Controller\Index\Pay">
        <arguments>
            <argument name="gatewayAPI" xsi:type="array">
                <item name="ideal" xsi:type="object">Payments\BankTransfer\Service\IdealSoap</item>
                <item name="sofort" xsi:type="object">Payments\BankTransfer\Service\SofortSoap</item>
                <item name="bancontact" xsi:type="object">Payments\BankTransfer\Service\BancontactSoap</item>
            </argument>
        </arguments>
    </type>

    <type name="Payments\BankTransfer\Model\Payment">
        <arguments>
            <argument name="gatewayAPI" xsi:type="array">
                <item name="ideal" xsi:type="object">Payments\BankTransfer\Service\IdealSoap</item>
                <item name="sofort" xsi:type="object">Payments\BankTransfer\Service\SofortSoap</item>
                <item name="bancontact" xsi:type="object">Payments\BankTransfer\Service\BancontactSoap</item>
            </argument>
        </arguments>
    </type>

    <type name="Payments\BankTransfer\Cron\Status">
        <arguments>
            <argument name="gatewayAPI" xsi:type="array">
                <item name="ideal" xsi:type="object">Payments\BankTransfer\Service\IdealSoap</item>
                <item name="sofort" xsi:type="object">Payments\BankTransfer\Service\SofortSoap</item>
                <item name="bancontact" xsi:type="object">Payments\BankTransfer\Service\BancontactSoap</item>
            </argument>
        </arguments>
    </type>

</config>
