<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="payments_section" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                
                <group id="altpay_section" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <group id="payments_klarna" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Klarna</label>
                        <field id="active" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/payments_klarna/active</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/payments_klarna/title</config_path>
                            <depends><field id="active">1</field></depends>
                        </field>
                        <field id="enableDefaultMid" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Use Default General MID</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/payments_klarna/use_default_mid</config_path>
                            <depends><field id="active">1</field></depends>
                        </field>
                        <field id="merchant_id" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Merchant ID</label>
                            <validate>required-entry</validate>
                            <config_path>payment/payments_klarna/merchant_id</config_path>
                            <depends>
                                <field id="active">1</field>
                                <field id="enableDefaultMid">0</field>
                            </depends>            
                        </field>
                        <field id="transaction_key" translate="label" type="obscure" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Transaction Key</label>
                            <validate>required-entry</validate>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                            <config_path>payment/payments_klarna/transaction_key</config_path>
                            <depends>
                                <field id="active">1</field>
                                <field id="enableDefaultMid">0</field>
                            </depends>                  
                        </field>
                        <field id="test_mode" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="0" showInStore="1">
                            <label>Test Mode</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/payments_klarna/test_mode</config_path>
                            <depends><field id="active">1</field></depends>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="0" showInStore="1">
                            <label>New order status</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                            <config_path>payment/payments_klarna/order_status</config_path>
                            <depends><field id="active">1</field></depends>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="0" showInStore="1">
                            <label>Sort Order</label>
                            <config_path>payment/payments_klarna/sort_order</config_path>
                            <depends><field id="active">1</field></depends>
                        </field>
                        <field id="allowspecific" translate="label" type="allowspecific" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Payment from Applicable Countries</label>
                            <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                            <config_path>payment/payments_klarna/allowspecific</config_path>
                            <depends><field id="active">1</field></depends>
                        </field>
                        <field id="specificcountry" translate="label" type="multiselect" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Payment from Specific Countries</label>
                            <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                            <config_path>payment/payments_klarna/specificcountry</config_path>
                            <depends><field id="active">1</field></depends>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
