<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Tax\Api\TaxCalculationInterface">
        <plugin name="tax-calculation-plugin" type="Payments\Tax\Plugin\Tax\Api\TaxCalculationInterfacePlugin"/>
    </type>

    <type name="Magento\Tax\Model\Sales\Total\Quote\CommonTaxCollector">
        <plugin name="common-tax-collector-plugin" type="Payments\Tax\Plugin\Tax\Model\Sales\Total\Quote\CommonTaxCollectorPlugin"/>
    </type>

    <type name="Magento\Tax\Model\Sales\Total\Quote\Tax">
        <plugin sortOrder="1" name="tax-quote-totals-plugin" type="Payments\Tax\Plugin\Tax\Model\Sales\Total\Quote\TaxPlugin"/>
    </type>

    <preference for="Payments\Tax\Service\TaxServiceInterface" type="Payments\Tax\Service\CachedTaxService"/>

    <type name="Payments\Tax\Service\CachedTaxService">
        <arguments>
            <argument name="nonCachedTaxService" xsi:type="object">Payments\Tax\Service\GatewaySoapApi</argument>
        </arguments>
    </type>

    <!-- Tax logger configuration -->
    <virtualType name="PaymentsTaxLog" type="Payments\Core\Model\Logger">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="payments" xsi:type="object">PaymentsTaxLogHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PaymentsTaxLogHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/payments.tax.log</argument>
        </arguments>
    </virtualType>

    <!-- Injecting logger -->
    <type name="Payments\Tax\Service\GatewaySoapApi">
        <arguments>
            <argument name="logger" xsi:type="object">PaymentsTaxLog</argument>
        </arguments>
    </type>

</config>
