<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="paymentssa" frontName="paymentssa">
            <module name="Payments_SecureAcceptance"/>
        </route>
        <route id="multishipping" frontName="multishipping">
            <module name="Magento_Multishipping" before="Payments_SecureAcceptance"/>
        </route>
    </router>
</config>
