<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="payments3ds" frontName="payments3ds">
            <module name="Payments_ThreeDSecure"/>
        </route>
    </router>
</config>
